{% extends 'base.html' %}
{% block head_title %}Teams || {{ block.super }}{% endblock head_title %}

{%block content%}
<div id="teams" class="container tab-pane active"></div>
<h1>Team List</h1>
<p>Must be a registered <a href = '{% url "player-sign-up" %}'>player</a> to join a team.<br>
    Already have a team? Create one <a href = '{% url "teams-sign-up" %}'>here</a>.


</p>
<div class='list-group'>
    {% for obj in object_list %}
        <a class='list-group-item list-group-item-action'href="/teams/{{ obj.slug }}/">{{obj}}</a>
    {%endfor%}
</div>
</div>
{%endblock content%}
