<!-- Footer -->
<footer class="page-footer bg-primary fixed-bottom">

    <!-- Footer Elements -->
    <div class="container text-light">

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item text-light">
          <a href="register" class="btn btn-info text-light">Sign up!</a>
        </li>
      </ul>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-light py-3">© 2019 Copyright:
      <a href="home"> BestBracketz.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->