<!-- 
<h1>BestBracketz</h1>
<a href='{% url "home" %}'>Home</a><br>
<a href='{% url "teams" %}'>Teams</a><br>
<a href='{% url "players" %}'>Players</a><br>
<a href='{% url "bracketz"%}'>Bracketz</a><br>
-->
<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home'%}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'bracketz'%}">Bracketz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'teams'%}">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'players'%}">Players</a>
    </li>
  </ul>
</nav>