{% extends 'base.html' %}
{% block head_title %}Brackets || {{ block.super }}{% endblock head_title %}


{%block content%}
<h1>{{ object.name }}</h1>
<!--<a href="/bracketz/join-bracketz/{{object.slug}}" class="btn btn-default">Join Bracket</a> TODO in future realese -->
<p>
    <br>
    <main id="tournament">
    <ul class="round round-1">
        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{object.teams.all.0}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{object.teams.all.1}}</li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{object.teams.all.2}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{object.teams.all.3}}</li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top ">{{object.teams.all.4}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom">{{object.teams.all.5}}</li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{object.teams.all.6}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{object.teams.all.7}}</li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{object.teams.all.8}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{object.teams.all.9}}</li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{object.teams.all.10}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{object.teams.all.11}}</li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{object.teams.all.12}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{object.teams.all.13}}</li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{object.teams.all.14}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{object.teams.all.15}}</li>

        <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top"> </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom "></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top"></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom "></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top "></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom "></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top "></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom "></li>

        <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-3">
        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top "></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom "> </li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top "></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom "></li>

        <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-4">
        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top "></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom "></li>
        
        <li class="spacer">&nbsp;</li>
    </ul>       
</main>
    <br>
</p>
{%endblock content%}

