{% extends 'Bracket/bracket_base.html' %}
{% block head_title %}Brackets || {{ block.super }}{% endblock head_title %}


{%block content%}

<h1>{{ object.name }}</h1>
<!--<a href="/bracketz/join-bracketz/{{object.slug}}" class="btn btn-default">Join Bracket</a> TODO in future realese -->


<!--<a href="/bracketz/join-bracketz/{{object.slug}}" class="btn btn-default">Join Bracket</a> TODO in future realese -->
{% if object.hasBeenGenerated is True%}
<div>
    <br>
    <main id="tournament">
    {% for round in object.rounds.all %}
    <ul class="round {{round}}">
        <li class="spacer">&nbsp;</li>
        {% for match in round.matches.all %}
        {% if match.isByeMatch == True %}
        <li><br></li>
        <li class="game bye-spacer">&nbsp;</li>
        <li><br></li>
        {%else%}
        <li class="game game-top">
            {% if match.team1 == None %}
                <br>
            {% else %}
                <a href= "/bracketz/advanceTeam/{{object.slug}}/{{match.team1.slug}}/{{match.matchNum}}/{{round.num}}"
                        {% if match.winningTeam != null %} style="pointer-events: none; cursor: default; color: black; {%if match.winningTeam == match.team1%}  text-decoration: underline; font-weight: bold{%endif%}" {%endif%}>
                    {{match.team1}}
                </a>
            {% endif %}
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">
            {% if match.team2 == None %}
                <br>
            {% else %}
                <a href= "/bracketz/advanceTeam/{{object.slug}}/{{match.team2.slug}}/{{match.matchNum}}/{{round.num}}"
                        {% if match.winningTeam != null %} style="pointer-events: none; cursor: default; color: black; {%if match.winningTeam == match.team2%}  text-decoration: underline; font-weight: bold{%endif%}" {%endif%}>
                    {{match.team2}}
                </a>
            {% endif %}
        </li>
        {%endif%}

        <li class="spacer">&nbsp;</li>
        {%endfor%}
    </ul>
    {%endfor%}
    <ul class="round">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top winner">{% if object.winningTeam == None %}
          <br>
      {% else %}{{object.winningTeam}}{%endif%}</li>
      <li class="spacer">&nbsp;</li>
    </ul>
    </main>
    <br>
</div>
{%endif%}
<p>
    <br>
    <h3>Registered Teams</h3>
    {% for team in object.teams.all %}
        {{team}}<br>
    {% endfor %}
    <br>
    {% if object.hasBeenGenerated is False%}
    <a href="/bracketz/generate/{{object.slug}}">Generate Bracket</a>
    {%endif%}
</p>

{%endblock content%}
